<a href="https://colab.research.google.com/github/diegoOrd123/Examen-Primer-parcial/blob/main/Primer_parcial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

Importamos las librerias necesarias

In [3]:
import os
import numpy as np
import pandas as pd
from matplotlib import pyplot

In [5]:
input_layer_size  = 14
num_labels = 5
data = pd.read_csv('/content/drive/MyDrive/Dataset/Base.csv', delimiter=';')
print(data.shape)

data.info()

(1000000, 14)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 14 columns):
 #   Column                        Non-Null Count    Dtype
---  ------                        --------------    -----
 0   income                        1000000 non-null  float64
 1   name_email_similarity         1000000 non-null  float64
 2   prev_address_months_count     1000000 non-null  int64
 3   current_address_months_count  1000000 non-null  int64
 4   customer_age                  1000000 non-null  int64
 5   intended_balcon_amount        1000000 non-null  float64
 6   zip_count_4w                  1000000 non-null  int64
 7   velocity_6h                   1000000 non-null  float64
 8   velocity_24h                  1000000 non-null  float64
 9   velocity_4w                   1000000 non-null  float64
 10  credit_risk_score             1000000 non-null  int64
 11  bank_months_count             1000000 non-null  int64
 12  proposed_credit_limit         1000000 non-null  int64
 13  payment_type                  1000000 non-null  object
dtypes: float64(6), int64(7), object(1)
memory usage: 106.8+ MB

In [7]:
y = data.iloc[:, -1]
print(y)
mapping = {'AB': 0, 'AA': 1, 'AC': 2, 'AE': 3, 'AD': 4}
def convert_column_to_numeric(data, mapping):
    vectorized_map = np.vectorize(mapping.get)
    numeric_data = vectorized_map(data)
    return numeric_data
numeric_data = convert_column_to_numeric(y, mapping)
y = numeric_data
print(y)

0         AA
1         AD
2         AB
3         AB
4         AA
          ..
999995    AB
999996    AC
999997    AA
999998    AB
999999    AA
Name: payment_type, Length: 1000000, dtype: object
[1 4 0 ... 1 0 1]

In [11]:
X=data.iloc[:,:-1]
print(X.shape)
def income_group(income):
    if income < 3:
        return 'Low'
    elif 3 <= income < 7:
        return 'Medium'
    else:
        return 'High'
X['income_level'] = X['income'].apply(income_group)
print(X.shape)
print(X)

(1000000, 13)
(1000000, 14)
              income  name_email_similarity  prev_address_months_count  \
0       3.000000e+00           9.865060e+14                         -1
1       8.000000e+00           6.174260e+15                         -1
2       8.000000e+00           9.967070e+15                          9
3       6.000000e+15           4.751000e+15                         11
4       9.000000e+00           8.423070e+15                         -1
...              ...                    ...                        ...
999995  8.000000e+00           1.246900e+14                         -1
999996  9.000000e+00           8.245440e+15                         -1
999997  8.000000e+00           1.408910e+15                         -1
999998  9.000000e+00           2.480240e+13                         52
999999  6.000000e+15           9.933910e+15                         -1

        current_address_months_count  customer_age  intended_balcon_amount  \
0                                 25            40            1.024540e+16
1                                 89            20           -8.495510e+15
2                                 14            40           -1.490390e+16
3                                 14            30           -1.863100e+16
4                                 29            40            4.715250e+16
...                              ...           ...                     ...
999995                           143            30           -8.262390e+15
999996                           193            30            8.307060e+13
999997                           202            10            5.061000e+16
999998                             3            30           -1.313390e+16
999999                           174            30            1.494250e+15

        zip_count_4w   velocity_6h  velocity_24h   velocity_4w  \
0               1059  1.309600e+16  7.850960e+15  6.742080e+15
1               1658  9.223280e+15  5.745250e+15  5.941660e+16
2               1095  4.471470e+15  5.471990e+15  5.992560e+15
3               3483  1.443200e+16  6.755340e+14  5.970340e+15
4               2339  7.601510e+15  5.124050e+15  5.940730e+15
...              ...           ...           ...           ...
999995           530  6.732600e+15  3.010050e+16  3.095750e+16
999996           408  1.574290e+16  2.716500e+15  4.286090e+15
999997           749  1.258860e+15  3.601320e+16  3.103890e+14
999998           707  7.048140e+15  6.521400e+16  3.068270e+15
999999           655  3.737080e+16  3.135790e+15  3.051000e+15

        credit_risk_score  bank_months_count  proposed_credit_limit  \
0                     163                  9                  15000
1                     154                  2                  15000
2                      89                 30                   2000
3                      90                  1                   2000
4                      91                 26                   2000
...                   ...                ...                    ...
999995                305                 31                  15000
999996                235                 -1                  10000
999997                195                 31                   2000
999998                148                  1                   2000
999999                100                 15                   2000

       income_level
0            Medium
1              High
2              High
3              High
4              High
...             ...
999995         High
999996         High
999997         High
999998         High
999999         High

[1000000 rows x 14 columns]